<!DOCTYPE html>
<html lang="en">
<head>
    {% include base.html %}
    <meta charset="utf-8"/>
    <title>supplychainpy</title>
    <meta name="description" content=""/>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/syntax.css"/>
    <script type="text/javascript" src="{{site.baseurl}}/scripts/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/scripts/bootstrap.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/scripts/main.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/favicon.ico" type="image/x-icon"/>
</head>
<body class="alternatebackground">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="http://www.supplychainpy.org" class="navbar-brand">
            <img src="{{site.baseurl}}/assets/logo.png">
        </a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="http://www.supplychainpy.org">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="http://supplychainpy.readthedocs.org/en/latest/?badge=latest">Documentation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
