    <aside>
    <h3>RSS</h3>
    <p><a href="/feed.xml" title="Subscribe to our RSS feed">Subscribe to our RSS feed</a></p>
    <h3>Connect with us</h3>
    <div class="social btn-group-horizontal">
        <!-- Twitter -->
        <a class="btn btn-lg btn-twitter" href="https://twitter.com/supplychainpy"><i class="fa fa-twitter"></i> Twitter</a>
        <!-- Googleplus
        <a class="btn btn-googleplus" href="https://plus.google.com/u/0/+supplychainpy/posts"><i
                class="fa fa-google-plus"></i> Google+</a>-->
        <!--github-->
        <a class="btn btn-lg btn-github" href="https://github.com/supplybi/supplychainpy" title="Github" class="github"><i
                class="fa fa-github"></i>Github</a>

    </div>
    </aside>
