---
layout: default
title: Supplychainpy Blog
---
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>



<header>
       <!-- <div class="container-fluid">
            <div class="bback content container-fluid ">
                <meta charset="UTF-8">
                <div class="menu">
                    <h1>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %} </h1>
                        <p>{{site.tagline}}</p>
                    <p class="view">

                        <a class="btn btn-default btn-twitter" href="https://twitter.com/Kevin_Fasusi"><i class="fa fa-twitter"></i> Twitter</a>

                        <a class="btn btn-default  btn-linkedin" href="https://t.co/vVIDg5IH6m"><i class="fa fa-linkedin"></i> LinkedIn</a>

                        <a class="btn btn-default  btn-googleplus" href="https://plus.google.com/u/0/+KevinFasusi/posts"><i class="fa fa-google-plus" ></i> Google+</a>
                    </p>
                </div>
            </div>
        </div> -->
</header>
<div class=" content container-fluid">
    <div class="bback content container-fluid ">
        {{content}}
    </div>
</div>
    {% include sidebar.html %}
</body>
</html>